@import "base/global";

body {
  background-color: lighten($grey, 50%);
}

.heading-h2 {
  margin-bottom: 0;
}

.col {
  background-color: rgba(red($grey), green($grey), blue($grey), 0.3);
  padding: 6px;
  @include adjust-font-size-to(12px);
  @include border-radius(6px);
  @include box-shadow(0 1px 1px rgba(red($black), green($black), blue($black), 0.1));

  &.header {
    border: none;
    background-color: transparent;
    @include border-radius(0);
    @include box-shadow(none);
  }

  &[class^="push-"],
  &[class*=" push-"] {
    background-color: lighten($grey, 20%);
  }

  &[class^="pull-"],
  &[class*=" pull-"] {
    background-color: darken($grey, 1%);
  }
}